.DS_Store

.vscode

__pycache__

*.egg-info

.backend-port

*.zip

Japanese_test
Japanese_test2

.annotation_cache.json

tmp/

.env*

mock_test_results/

unsloth_compiled_cache

exports/

models/

llama.cpp

test_train_output.txt

training_success_test*.txt

test_models

result.json
result_baseline.json